body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
}

@media (max-with: 50ch){


    body{
        margin:auto 1em;
        
    }
   

}